<section>
  <h2 class="basket-list-orders-title">Товары в корзине</h2>
  <ul class="perforators-list">

    {{#if basketGoods.length}}
      {{#each basketGoods}}
        <li class="perforators-item">
          <div class="perforators-item-top">
            <img src="img/{{img}}" alt="{{name}}" width="144" height="128" class="img-goods-item">
            <div class="goods-checked visually-hidden">
              <img src="img/icon-cart.svg" alt="иконка" width="15" height="15">
              <a href="#" class="button-cart-item-delete">Удалить</a>
              <div class="visually-hidden" id="product_id">{{id}}</div>
            </div>
          </div>
          <a href="#" class="perforators-item-link">
            <h3 class="goods-description">{{name}}</h3>
          </a>
          <div class="perforators-item-price">
            {{#if new_price}}
              <p class="goods-old-price">{{old_price}} Р.</p>
              <p class="goods-new-price">
                <span>{{new_price}}</span>
                <span> Р.</span>
              </p>
            {{else}}
              <p class="goods-new-price">
                <span>{{old_price}}</span>
                <span> Р.</span>
              </p>
            {{/if}}
          </div>
        </li>
      {{/each}}
    {{/if}}

  </ul>
</section>
<section class="make-order">
  <h2 class="make-order-title">Оформить заказ</h2>
  <div  class="make-order-container">
    <form method="post" action="/order">
      <div class="make-order-points">
        <label>Сумма заказа</label>
        <input class="data-order" name="sum" readonly id="order_sum" required>
      </div>
      <div class="make-order-points">
        <label>Имя</label>
        <input class="other-data-order" name="name" {{#if user}} value="{{user.name}}" {{/if}} required>
      </div>
      <div class="make-order-points">
        <label>Email</label>
        <input class="other-data-order"  name="email" {{#if user}} value="{{user.email}}" {{/if}} required>
      </div>
      <button type="submit" class="button red-button-order">Оформить</button>
    </form>
  </div>
</section>
